RewriteEngine on

Options -Indexes
ErrorDocument 403 http://localhost/BK_Apple_Store/404.php
ErrorDocument 404 http://localhost/BK_Apple_Store/404.php

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /404.php [L]


RewriteRule ^home index.php [NC,L]
RewriteRule ^about about.php [NC,L]
RewriteRule ^appliance appliance.php [NC,L]
RewriteRule ^cart-history cart_history.php [NC,L]
RewriteRule ^contact contact.php [NC,L]
RewriteRule ^login login.php [NC,L]
RewriteRule ^mobile mobile.php [NC,L]
RewriteRule ^screen screen.php [NC,L]
RewriteRule ^signup signup.php [NC,L]
RewriteRule ^tvav tvav.php [NC,L]
RewriteRule ^user-info user_info.php [NC,L]
RewriteRule ^product-list product_list.php [NC,L]
RewriteRule ^cart-detail cart-detail.php [NC,L]
RewriteRule ^checkout checkout.php [NC,L]

